:root {
  --color: #ccc;
  --bgColor: #040404;
  --tableBorderColor: rgba(9, 211, 172, 1);
  --errorColor: rgba(211, 9, 9, 0.521);
  --successColor: rgba(9, 211, 60, 0.521);
  --moveSuccessColor: rgba(9, 211, 172, 0.5);
}
html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgColor);
  color: var(--color);
  height: 100%;
}

.container {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: var(--tableBorderColor);
}

a:hover {
  text-decoration: none;
}

.west {
  border-left: 1px solid var(--tableBorderColor);
}
.north {
  border-top: 1px solid var(--tableBorderColor);
}
.table {
  display: grid;
  border-bottom: 1px solid var(--tableBorderColor);
  border-right: 1px solid var(--tableBorderColor);
}
.cell {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.cell .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: success 0.4s ease-in-out;
  border-radius: 2px;
}
.cell .overlay.err {
  animation: error 0.4s ease-out;
}

@keyframes error {
  from {
    background-color: var(--errorColor);
  }
  to {
    background-color: transparent;
  }
}

@keyframes success {
  from {
    background-color: var(--moveSuccessColor);
  }
  to {
    background-color: transparent;
  }
}
.new-maze {
  padding: 1rem;
}
.new-maze label {
  margin-right: 0.5rem;
}
.new-maze select {
  margin-left: 4px;
}
.new-maze button {
  margin: 0.5rem;
}
.top {
  padding: 10px;
}
.image {
  max-width: 100vw;
}
.D {
  color: var(--errorColor);
}
.E {
  color: var(--successColor);
}
button,
select,
input {
  font-size: 12px;
  color: var(--color);
  padding: 10px;
  border: 1px solid var(--color);
  border-radius: 4px;
  background-color: #111;
  margin-left: 5px;
}

select {
  border: none;
}

input#difficulty {
  border: none;
}

label {
  font-size: 14px;
}
